.container {
    width: 1200px;
    margin: auto;
}

.section-1,
.section-2 {
    background: #fff9f4;
    margin: auto;
}

.custom-content {}

.custom-content img {
    max-width: 100%;
}

.custom-btn {
    width: 210px;
    margin-top: 25px;
    color: white;
}

.footer img,
.custom-btn img {
    height: 35px;
    width: 35px;
    margin-right: 5px;
}

.btn.custom-btn {
    background: #3746cc;
    height: 60px;
    place-content: center;
    place-items: center;
    border-radius: 20px;
    color: white;
}

.custom-content-right {
    padding: 250px 80px 0px 100px !important;
}

.custom-content-right h1,
h2 {
    color: #fa804c;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: fantasy;
}

.custom-content-right h2 {
    color: #202b4b;
    font-size: 4rem;
}

.custom-content-right p {
    font-weight: 500;
    color: dimgray;
    font-size: 18px;
    width: 60%;
    margin-top: 25px;
}

.shadow {
    box-shadow: #50576b;
    border: none!important;
}

.bg-skyblue {
    background: #f1f1f1;
    border-radius: 20px;
}

.footer {
    height: 120px;
    overflow: hidden;
}

.footer h1 {
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-left: 15px;
    color: tomato;
    margin-right: 75px;
}

.right-col img {
    width: 100%;
    padding-top: 80px;
}

.right-col {
    margin-top: 80px;
}

.pic {
    height: 150px;
}

.blog-wrapper img {
    height: 90px;
    width: 100px;
}

.blog-wrapper {
    height: 100px;
    border-radius: 15px;
    overflow: hidden;
}

.single-blog-box {
    overflow: hidden;
}

.blog h1 {
    font-size: 25px;
    font-weight: 600;
    color: #202b4b;
}

.blog p {
    font-weight: 500px !important;
}

.custom-card {
    margin: auto;
    background: #0c3f7d!important;
    color: white;
}

.copyright {
    color: #999;
    background: #272525;
    overflow: hidden;
    margin-top: 100px;
}

.copyR {
    width: 550px;
    float: left;
    font-size: 13px;
    padding: 20px 0px;
    margin-top: 15px;
}

.copyL {
    width: 550px;
    float: right;
    padding: 32px 0px 25px;
}

.copyL ul {
    margin-left: 160px;
}

.copyL ul li {
    list-style: none;
    display: inline-block;
    font-size: 13px;
    margin-right: 10px;
}

.copyL ul li a {
    text-decoration: none;
    color: #999;
}

.copyL ul li a:hover {
    color: #ff4523;
}

.copyRightContainer {
    border-top: 1px solid #999;
    background: #272525;
}